
#collapsable-nav > ul {
    background-color:#eee;
}

.container section {
   background-color: #ddd; 
   margin-bottom:20px;
}

/* desktops */
@media (min-width:768px){ 

}

/* tablets */
@media (min-width:481px) and (max-width: 767px){ 

}

/* smartphones */
@media (max-width: 480px){ 
    
}